.idea/shelf/
.idea/sonarlint
.idea/atlassian-ide-plugin.xml
.idea/workspace.xml
.nyc_output/
coverage/
dist/
node_modules/
src/**/*.js*
npm-debug.log
/test/src/typescript-dependency-provider-test.js
/test/src/typescript-dependency-provider-test.js.map
App.component.vue.js
/test/resources/sample.js
/test/resources/app-with-mapped-paths/src/package-a/module-a.js
/test/resources/app-with-mapped-paths/src/package-a/module-b.js
/test/resources/app-with-mapped-paths/src/package-b/module-d.js
/test/resources/app-with-mapped-paths/src/package-b/module-e.js
/test/resources/app-with-mapped-paths/src/package-b/module-f.js
/test/resources/app-with-mapped-paths/src/package-b/package-b2/module-i.js
/test/resources/app-with-mapped-paths/src/sample.js
/test/resources/app-without-tsconfig/sample.js
