.idea/shelf/
.idea/sonarlint
.idea/atlassian-ide-plugin.xml
.idea/workspace.xml
.nyc_output/
coverage/
dist/
node_modules/
src/**/*.js*
npm-debug.log
/test/src/typescript-dependency-provider-test.js
/test/src/typescript-dependency-provider-test.js.map
/test/resources/package-a/App.component.vue.js
/test/resources/sample.js
